@import "./base.css";

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95vw;
}
